<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{pages/include/layout}">
<body>
<div layout:fragment="content">
    <!--  header  -->
    <div th:replace="~{/pages/fragments/header :: breadcrumbs('룰 등록')}"></div>

    <!--    body    -->
    <form id="frm" name="frm" action="/rule/add" method="post" onsubmit="return false">
        <div class="wg-box mb-30">

            <div class="cols-lg">
                <fieldset class="symbol">
                    <div class="body-title mb-10">SYMBOL<span class="tf-color-1">*</span></div>
                    <div class="select flex-grow">
                        <select id="symbol" name="symbol">
                            <option value=""></option>
                            <div th:each="entry : ${STOCKS}">
                                <option th:value="${entry.symbol}" th:text="${entry.symbol}"></option>
                            </div>
                        </select>
                    </div>
                </fieldset>

                <fieldset class="average_price">
                    <div class="body-title mb-10">ID <span class="tf-color-1">*</span></div>
                    <input class="mb-10" type="text" name="id" id="id" tabindex="0" value="">
                </fieldset>

                <fieldset class="average_price"></fieldset>
            </div>


            <div class="cols-lg">
                <fieldset class="average_price">
                    <div class="body-title mb-10">평단가<span class="tf-color-1">*</span></div>
                    <input class="mb-10" type="text" name="average_price" id="average_price" tabindex="0" value="" aria-required="true" required="">
                </fieldset>
                <fieldset class="quantity">
                    <div class="body-title mb-10">수량<span class="tf-color-1">*</span></div>
                    <input class="mb-10" type="text" name="quantity" tabindex="0" value="" aria-required="true" required="">
                </fieldset>
            </div>

            <div class="cols-lg">
                <fieldset class="buy_target_price">
                    <div class="body-title mb-10">매수 타겟 <span class="tf-color-1">*</span></div>
                    <input class="" type="text" placeholder="Choose category" name="buy_target_price" tabindex="0" value="" aria-required="true" required="">
                </fieldset>

                <fieldset class="sell_target_price">
                    <div class="body-title mb-10">매도 타겟 <span class="tf-color-1">*</span></div>
                    <input class="" type="number" placeholder="Price" name="sell_target_price" tabindex="0" value="" aria-required="true" required="">
                </fieldset>
            </div>
        </div>

        <div class="cols gap10">
            <button class="tf-button w380" type="submit">Add</button>
            <a href="#" class="tf-button style-3 w380" type="submit">Cancel</a>
        </div>
    </form>
    <script src="/js/pages/rule.js"></script>
<script>
    util.display.selectedSidebar('stock-menu', 2)
</script>
</div>
</body>
