<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{pages/include/layout}">
<body>
<div layout:fragment="content">
    <!--  header  -->
    <div th:replace="~{/pages/fragments/header :: breadcrumbs('룰 등록')}"></div>

    <!--    body    -->
    <form id="frm" name="frm" action="/rule/add" method="post" onsubmit="return false">
        <div class="wg-box mb-30">

            <div class="row mb-3">
                <fieldset class="col-md-6">
                    <fieldset class="average_price">
                        <div class="body-title mb-10">ID <span class="tf-color-1">*</span></div>
                        <input class="form-control mb-10" type="text" name="id" id="id" tabindex="0" value="">
                    </fieldset>
                </fieldset>

                <div class="col-md-6">
                    <fieldset class="symbol">
                        <div class="body-title mb-10">SYMBOL<span class="tf-color-1">*</span></div>
                        <div class="select flex-grow">
                            <select id="symbol" name="symbol">
                                <option value=""></option>
                                <div th:each="entry : ${STOCKS}">
                                    <option th:value="${entry.symbol}" th:text="${entry.symbol}"></option>
                                </div>
                            </select>
                        </div>
                    </fieldset>
                </div>
            </div>



            <div class="row mb-3">
                <fieldset class="col-md-6">
                    <div class="body-title mb-10">매수 단가<span class="tf-color-1">*</span></div>
                    <input class="mb-10" type="text" name="buyPrice" id="buyPrice" tabindex="0" value="">
                </fieldset>
                <fieldset class="col-md-6">
                    <div class="body-title mb-10">매수 퍼센트<span class="tf-color-1">*</span></div>
                    <input class="mb-10" type="text" name="buyPercentage" id="buyPercentage" tabindex="0" value="">
                </fieldset>
            </div>

            <div class="row mb-3">
                <fieldset class="col-md-6">
                    <div class="body-title mb-10">매수 단가<span class="tf-color-1">*</span></div>
                    <input class="mb-10" type="text" name="sellPrice" id="sellPrice" tabindex="0" value="">
                </fieldset>
                <fieldset class="col-md-6">
                    <div class="body-title mb-10">매수 퍼센트<span class="tf-color-1">*</span></div>
                    <input class="mb-10" type="text" name="sellPercentage" id="sellPercentage" tabindex="0" value="">
                </fieldset>
            </div>

        </div>

        <div class="cols gap10">
            <button class="tf-button w380" type="submit">Add</button>
            <a href="#" class="tf-button style-3 w380" >Cancel</a>
        </div>
    </form>
    <script src="/js/pages/rule.js"></script>
<script>
    util.display.selectedSidebar('stock-menu', 2)
    rule.add();
</script>
</div>
</body>
