<div th:fragment="paging(id)" th:remove="tag">
    <div th:id="${id}">
        <div class="pagination-container">
            <!-- 스크롤 가능한 테이블 컨테이너 -->
            <div class="table-responsive">
                <table class="data-table">
                    <tbody>
                        <tr>
                            <td colspan="99">
                                조회된 데이터가 없습니다.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="divider"></div>
            <!-- 페이징 버튼 -->
            <div class="flex items-center justify-between flex-wrap gap10 mt-5">
                <div class="text-tiny">Showing <span>10</span> entries of <span>1</span></div>
                <ul class="wg-pagination">
                    <li class="disabled">
                        <a href="#"><i class="icon-chevron-left"></i></a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li class="disabled">
                        <a href="#"><i class="icon-chevron-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>