<div th:fragment="import" th:remove="tag">

<!--    <script src="/js/morris.min.js"></script>-->
<!--    <script src="/js/morris.js"></script>-->

    <script src="/js/plugins/switcher.js"></script>
    <script defer src="/js/plugins/theme-settings.js"></script>
    <script src="/js/plugins/main.js"></script>
    <script src="/js/plugins/zoom.js"></script>
    <script src="/js/plugins/select2.min.js"></script>

    <!--    util-->
    <script src="/js/util/axios.js"></script>
    <script src="/js/util/util.js"></script>
</div>