<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{pages/include/layout}">
<body>
<div layout:fragment="content">

    <!-- 시가 총액 TOP 10 -->
    <div class="full-width mb-30">
        <!-- seller-statistic -->
        <div class="wg-box">
            <div class="flex items-center justify-between">
                <h5>Revenue</h5>
                <div class="dropdown default style-box">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <a href="product-list.html" class="view-all">Yearly<i class="icon-chevron-down"></i></a>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:void(0);">Weekly</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Monthly</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="summary" class="flex flex-wrap gap40">
            </div>
            <div id="charts-container">
                <!-- 심볼별 차트가 추가됩니다 -->
            </div>

        </div>
        <!-- /seller-statistic -->
    </div>
    <script src="/js/pages/dashboard.js"></script>
</div>
</body>
