<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{pages/include/layout}">
<body>
<div layout:fragment="content">
    <!--  header  -->
    <div th:replace="~{/pages/fragments/header :: breadcrumbs('주식 등록')}"></div>

    <!--    body    -->
    <form id="frm" name="frm" action="/stock/add" method="post" onsubmit="return false">
        <div class="wg-box mb-30">

            <fieldset class="symbol">
                <div class="body-title mb-10">SYMBOL<span class="tf-color-1">*</span></div>
                <div class="select flex-grow">
                    <select  id="select-symbol" name="symbol">
                    </select>
                </div>
            </fieldset>


            <div class="cols-lg">
                <fieldset class="currency">
                    <div class="body-title mb-10">통화<span class="tf-color-1">*</span></div>
                    <select name="currency" id="">
                        <option value="USD">$ USD</option>
                        <option value="KRW">₩ KRW</option>
                    </select>
                </fieldset>
                <fieldset class="averagePrice">
                    <div class="body-title mb-10">평단가<span class="tf-color-1">*</span></div>
                    <input class="mb-10" type="text" name="averagePrice" id="averagePrice" tabindex="0" value="" aria-required="true" required="">
                </fieldset>
                <fieldset class="quantity">
                    <div class="body-title mb-10">수량<span class="tf-color-1">*</span></div>
                    <input class="mb-10" type="text" name="quantity" tabindex="0" value="" aria-required="true" required="">
                </fieldset>
            </div>

            <div class="cols-lg">
                <fieldset class="buyPrice">
                    <div class="body-title mb-10">매수 타겟 <span class="tf-color-1">*</span></div>
                    <input class="" type="text" placeholder="Choose category" name="buyPrice" tabindex="0" value="" aria-required="true" required="">
                </fieldset>

                <fieldset class="sellPrice">
                    <div class="body-title mb-10">매도 타겟 <span class="tf-color-1">*</span></div>
                    <input class="" type="number" placeholder="Price" name="sellPrice" tabindex="0" value="" aria-required="true" required="">
                </fieldset>
                <fieldset class="rule">
                    <div class="body-title mb-10">룰 <span class="tf-color-1">*</span></div>
                    <div th:if="${!RULE.isEmpty()}">
                        <input class="" type="number" placeholder="Price" name="rule" tabindex="0" value="" aria-required="true" required="">
                    </div>
                    <div th:if="${RULE.isEmpty()}">
                        <input type="text" placeholder="등록되어 있는 규칙이 없습니다." readonly>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="cols gap10">
            <button class="tf-button w380" type="submit">Add</button>
            <a href="/stock/form" class="tf-button style-3 w380">Cancel</a>
        </div>
    </form>
<script src="/js/pages/stock.js"></script>
<script>
    stock.add();
    util.display.selectedSidebar('stock-menu', 1)
</script>
</div>
</body>
